<div class="panel panel-primary">
    <div class="panel-heading">Estadísticas de por vida</div>
    <div class="panel-body">
        <p><strong>Temporadas:</strong> <span data-ng-repeat="seasons in info.allData.seasons">{{seasons.season}} - </span></p>
        <p><strong>Campeonatos de Pilotos:</strong> <span data-ng-repeat="titles in info.allData.titles">{{titles.season}} - </span></p>
        <p><strong>Constructores:</strong>  <span data-ng-repeat="constructor in info.allData.constructors">{{constructor.name}},</span></p>
        <p><strong>Victorias:</strong> {{info.allData.wins}}</p>
        <p><strong>Pole Positions:</strong> {{info.allData.pole}}</p>
    </div>
</div>

